@font-face {
    font-family: "PFStampsPro";
    src: url("../fonts/PF_Stamps_Pro.ttf");
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Gilroy-Regular', Arial, sans-serif;
    background-image: url("../images/kirpich.png");
    min-width: 320px;
    background-size: contain;

}

#header {
    background-image: url(../images/top2.png);
    background-repeat: repeat no-repeat;
    background-position: center;
    background-size: auto;
    height: 134px;
    padding-bottom: 40px;
    min-width: 320px;

}

.legends #header.sticky {
    background-color: transparent;
    padding-top: initial;
}

.legends #header.sticky .city-drop-text {
    color: white;
}

.legends #header.sticky .logo-img-sticky {
    width: 54px;
}

.logo-img, .hamburger-menu-icon {
    display: block;
}

#main {
    margin-top: 100px;
    overflow: hidden;
}

.legends-hero {
    padding: 50px 0px 60px 3px;
    max-width: 265px;
    margin: 10px auto -80px;
}

.top-grid {
    transform: scale(2.6);
}


.top-grid-neon {
    position: absolute;
    top: 80px;
    left: calc(50% - 315px);
}

.quiz-yellow {
    position: absolute;
    top: 192px;
    left: calc(50% - 90px);
}

.legends-info {
    background-image: url(../images/metal-card-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 20px 25px 10px;
    width: 280px;
    height: 240px;
    margin: -50px auto;
    background-position: -9px center;
}

.legends-title {
    font-family: 'Gilroy-Black', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin: 5px 0px;

}

.legends-subtitle {
    font-size: 13px;
    text-align: center;
    padding: 0px 5px 25px;
}

.legends-search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#legends-form-city-wrap {
    background-image: url(../images/name_btn.png);
    background-position: 0px center;
    background-repeat: no-repeat;
    width: 280px;
    height: 69.5px;
    display: block;
    padding: 11px 0px;
    background-size: cover;

}

#legends-form-city {
    border: none;
    background: none;
    padding: 9px 16px;
    width: 270px;
    height: 45px;
    margin-left: 10px;
    text-transform: uppercase;
    outline: none;
    color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    font-family: 'Gilroy-Medium', sans-serif;

}

#legends-form-command-name-wrap {
    background-image: url(../images/name_btn.png);
    background-position: 0px center;
    background-repeat: no-repeat;
    width: 280px;
    height: 69.5px;
    display: block;
    padding: 11px 0px;
    background-size: cover;

}

#legends-form-command-name {
    border: none;
    background: none;
    padding: 9px 16px;
    width: 268px;
    height: 45px;
    margin-left: 10px;
    text-transform: uppercase;
    outline: none;
    color: white;
    transition: all 0.5s ease;
    border-radius: 10px;
    font-family: 'Gilroy-Medium', sans-serif;

}

#legends-form-city:focus,
#legends-form-city:hover,
#legends-form-command-name:focus,
#legends-form-command-name:hover {
    box-shadow: 0 0 10px #ff0072;

}

#legends-form-submit-wrap {
    background-image: url(../images/search_btn.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding: 15px 17px;
    height: 93px;
    width: 180px;
    display: block;

}

#legends-form-submit {
    border: none;
    background: none;
    padding: 15px 32px;
    height: 56px;
    width: 138px;
    text-transform: uppercase;
    outline: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    background: -webkit-linear-gradient(#ffffff, #ff98a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Gilroy-Black', sans-serif;
    text-shadow: 0 0 20px #ff0072;

}

#legends-form-submit:hover {
    box-shadow: 0 0 10px #ff0072;

}


/* TEAM GRID */
.team-card {

    width: 290px;
    margin: 30px auto 15px;
    position: relative;
}

.team-background {
    background-image: url(../images/team_grid.png);
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    background-size: cover;
    width: 290px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-img {
    position: absolute;
    top: 10%;
    left: 8%;
    width: 86%;
    height: 77%;
    object-fit: cover;

}

.team-city {
    background-image: url(../images/city_2_btn.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px 32px 14px 32px;
    width: 180px;
    text-align: center;
    word-break: break-word;
    position: absolute;
    bottom: -12px;
    left: calc(50% - 90px);
    font-family: 'Gilroy-Medium', sans-serif;
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.team-name {
    font-family: 'PFStampsPro', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-team-photo {

    background-image: url(../images/comand_no_photo.png);
    background-repeat: no-repeat;
    width: 85%;
    height: 70%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PFStampsPro, Arial, sans-serif;
    text-align: center;
    line-height: 28px;
    color: #333;
    margin: auto;

}

.card-with-center-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.bar-wrap {
    max-width: 320px;
    margin: auto;
    position: relative;
    margin-bottom: -50px;
}

.bar-wrap:before {
    content: ' ';
    display: block;
    background-image: url(../images/neon_lamp.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 125px;
    width: 320px;
    top: -40px;
    left: 10px;
    z-index: 1;
    background-size: contain;
}

.team-bar {
    max-width: 120%;
    margin-top: 15px;
    overflow: visible;
    margin-left: -25px;
    margin-right: -25px;
}

#more-teams {
    position: relative;
    background: none;
    border: none;
    text-transform: uppercase;
    font-family: 'Gilroy-Black', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    width: auto;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 10px;
    margin: auto;
}

#more-teams:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 23px);
    background-image: url("../images/next.png");
    background-position: center;
    height: 46px;
    width: 46px;

}

.legends-footer {
    background-image: url("../images/footer_grid_mobile.png");
    background-position: center top;
    background-size: auto;
    background-color: transparent;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}


.legends-footer .footer-inside-container {
    max-width: 285px;
    margin: auto;
    padding-top: 30px;

}


.legends-footer .footer-inside-container .top-row a {
    color: white;
    text-decoration: underline;
    font-family: Gilroy-Medium, Arial, sans-serif;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: inline-block;
}


.legends-footer .footer-info {

    font-family: 'Gilroy-Black', Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 5px 0;
    color: white;
    text-transform: uppercase;
}

.legends-footer .footer-info a {
    display: block;
}

.legends-footer .socials {
    margin: 0 0 5px 0;
}

.legends-footer .socials a {
    margin-right: 15px;
    cursor: pointer;
}

.legends-terms {
    color: white;
    text-decoration: underline;
    margin-left: -100px;
    padding-right: 5px;
    text-align: left;
    display: block;
    font-size: 12px;
}

.commands-grid .col-md-6 .team-card:before {
    content: ' ';
    display: block;
    background-image: url(../images/neon_lamp.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 125px;
    width: 320px;
    top: -70px;
    left: -8px;
    z-index: 1;
    background-size: contain;
}


@media (min-width: 768px) and (max-width: 1199px ) {
    .legends-footer {
        background-image: url("../images/footer_grid.png");
        background-size: cover;

    }

    .legends-footer .footer-inside-container {
        max-width: 100%;
    }

    .legends-terms {
        margin-left: 0px;
    }

    .legends-hero {
        padding: 80px 0px;
        max-width: 690px;
        margin: 30px auto -100px;

    }

    .top-grid {
        transform: scale(2.5);

    }

    .legends-info {
        background-image: url("../images/metal-card.png");
        background-size: auto;
        background-position: center -75px;
        background-repeat: no-repeat;
        padding: 50px 0px 130px;
        margin: 0px 0px -50px;
        height: auto;
        width: auto;

    }

    .legends-title {
        font-size: 24px;

    }

    .legends-subtitle {
        font-size: 22px;
        padding: 0 80px;
        max-width: 750px;
        margin: 10px auto -50px;
    }

    .legends-search-form {
        flex-direction: row;
    }

    #legends-form-city-wrap {
        background-image: url(../images/city_btn.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 190px;
        height: 70px;
        display: block;
        padding: 7px 10px;

    }

    #legends-form-city {
        border: none;
        background: none;
        padding: 17px 32px;
        height: 52px;
    margin-left: 0px;
        width: 175px;
        text-transform: uppercase;
        outline: none;
        color: white;
        transition: all 0.5s ease;
        border-radius: 10px;
        font-family: 'Gilroy-Medium', sans-serif;

    }

    #legends-form-command-name-wrap {
        background-image: url(../images/name_btn.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 350px;
        height: 68px;
        display: block;
        padding: 7px 10px;

    }

    #legends-form-command-name {
        border: none;
        background: none;
        padding: 17px 32px;
        height: 52px;
        width: 335px;
        margin-left: 0px;

        text-transform: uppercase;
        outline: none;
        color: white;
        transition: all 0.5s ease;
        border-radius: 10px;
        font-family: 'Gilroy-Medium', sans-serif;

    }


    .commands-grid .col-md-6:nth-child(2n - 1) .team-card:before {


    }

    .commands-grid .col-md-6:nth-child(2n) .team-card:before {

    }


    .team-img {
        top: 10%;
        left: 11%;
        width: 80%;
        height: 75%;
        object-fit: cover;
    }

    .team-name {
        font-size: 23px;
        height: 88px;

    }

    .team-bar {
        height: 280px;
        object-fit: contain;
        width: auto;
        margin-bottom: 15px;
        object-position: bottom;
        overflow: visible;
        max-width: 100%;
    }

    .bar-wrap:before {
        top: -40px;

    }

    .legends-footer .footer-inside-container .top-row a {
        margin-right: 25px;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .legends-footer {
        background-image: url("../images/footer_grid.png") !important;
        background-size: cover !important;

    }

    .legends-footer .footer-inside-container {
        max-width: 100%;
    }

    #header.sticky .link-navbar {
        color: #ffffff;
    }
}

@media (min-width: 1200px) {
    .legends-footer {
        background-image: url("../images/footer_grid.png");
        background-size: cover;

    }

    body {
        background-size: auto;
    }

    .bar-wrap:before {
        content: none;

    }

    .top-grid {
        transform: scale(1.65);
    }

    .legends-hero {
        padding: 50px 0px;
        margin-bottom: -150px;
        max-width: 100%;

    }


    #legends-form-city-wrap {
        margin-right: 20px;
    }

    .legends-title {
        font-size: 32px;
        margin-bottom: 15px;

    }

    .legends-subtitle {
        font-size: 22px;
        padding: 0 80px;
        max-width: 750px;
        margin: auto;
    }

    .legends-info {
        background-image: url("../images/metal-card.png");
        background-size: auto;
        background-position: center -75px;
        background-repeat: no-repeat;
        padding: 50px 0px 80px;
        margin: 0px 0px -50px;
        height: auto;
        width: auto;

    }

    .commands-grid .col-md-6 .team-card:before {
        content: none;
    }

    .commands-grid .col-xl-4:nth-child(3n - 2) .team-card:before {
        content: ' ';
        display: block;
        background-image: url(../images/neon_lamp.png);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        height: 231px;
        width: 611px;
        overflow: visible;
        top: -130px;
        left: 0;
        z-index: 1;
    }

    .commands-grid .col-xl-4:nth-child(3n) .team-card:before {
        content: ' ';
        display: block;
        background-image: url(../images/neon_lamp.png);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        height: 231px;
        width: 611px;
        overflow: visible;
        top: -130px;
        right: 0;
        left: auto;
        z-index: 1;

    }

    .bar-wrap {
        overflow-x: initial;

    }

    .team-card {
        width: 400px;
    }

    .team-background {
        height: 270px;
        width: 400px;


    }

    .team-img {
        position: absolute;
        top: 12%;
        left: 9%;
        width: 83%;
        height: 77%;
        object-fit: cover;
    }

    .legends-footer .footer-inside-container .top-row {
        padding-left: 17%;
    }

    .legends-footer .footer-logo-neon {
        margin: auto;
        display: block;
        margin-top: -30px;

    }

    .legends-footer .footer-info {
        font-size: 18px;
        line-height: 28px;
        margin: 20px 0px;
    }

    .legends-footer .footer-inside-container {
        padding-top: 75px;
    }

    .legends-footer .socials {
        margin: 20px 0px 5px;

    }

    .legends-footer {
        background-position: center top;
        background-size: auto;
    }


    .legends-search-form {
        flex-direction: row;
    }


    .team-card {
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .team-name {
        font-size: 32px;
    }

    .team-bar {
        max-width: initial;
        height: 520px;
        object-fit: cover;
        width: max-content;
        margin-bottom: -300px;
        object-position: top;
        overflow: visible;
        margin-left: -80px;

    }

    #more-teams {
        font-size: 28px;
    }

    .legends #header.sticky .logo-img-sticky {
        width: 80px;
    }

    .commands-grid .col-xl-4 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .legends-footer:after {
        content: '';
        background-image: url(../images/chuck.png);
        width: 99px;
        height: 109px;
        position: absolute;
        bottom: 0;
        right: 13%;
        z-index: -1;
    }

    .legends-footer .footer-inside-container .top-row a {
        font-size: 18px;
    }

    .legends-terms {
        margin-left: 0;
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .legends-hero {
        padding: 0px;
        margin-bottom: -160px;
    }


    .top-grid {
        transform: scale(1.4);
    }

    .legends-footer:after {

        right: 15%;
    }

    .card-with-center-logo {
        height: auto;
        padding-top: 60px;
    }
}

@media (min-width: 1900px) {
    .top-grid {
        transform: scale(1.25);
    }

    .legends-hero {
        padding: 0px;
        margin-bottom: -230px;
    }

}
